$pagePadding: 40px;
$headerHeight: 80px;

$greenPrimary: #00C78B;
$greenSecondary: #00835B;
$greenLight: #8BDCC4;

$lightSecondary: #f2fffb;
$lightPrimary: ghostwhite;

$onlyLarge: 768px;

$fontSize: 16px;
