.main-nav{
    &__list {
        @include plainList;
    }

    &_element {
        display: inline;
        padding-left: $pagePadding;
    }

    &__link {
        color: ghostwhite;
        text-decoration: none;

    &--small {
        font-size: 0.8rem;
    }
}
