.main-footer {
    background-color: $greenPrimary;
    font-size: 0.8rem;
    height: 30px;
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0;
    padding-left: $pagePadding;
    
    &__left {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
