.main-nav {
    &__element {
        display: inline;
        padding-left: $pagePadding;
    }

    &__link {
        color: $lightPrimary;
        text-decoration: none;
        &--small {
            font-size: 0.8rem;
        }
    }

    &__trigger {
        @media (min-width: $onlyLarge) {
            display: none;
        }
    }

    &__list--responsive {
        display: block;
        background-color: $greenSecondary;
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        width: 100%;
        border-top: 1px solid $lightPrimary;
        opacity: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: transform 0.3s, opacity 0.3s;

        @media (min-width: $onlyLarge) {
            position: static;
            border: none;
            top: 80px;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__list--responsive--open {
        transform: translateY($headerHeight);
        opacity: 1;
    }

    &__element--responsive {
        display: block;
        height: 40px;
        padding-top: 10px;
        @media(min-width: $onlyLarge) {
            display: inline;
            padding-left: $pagePadding;
        }
    }
    
    &__link--responsive {
        color: $greenPrimary;
        text-decoration: none;
    }
}
