.map-box {
    width: 50%;
    position: fixed;
    top: 80px;
    bottom: 30px;
    right: 0;
    z-index: -1;

    &__title {
        display: none;
    }

    &__picture {
        height: 100%;
    }
}
