.map-box {
    width: 100%;
    position: fixed;
    top: $headerHeight;
    right: 0;
    z-index: 10;

    @media (min-width: $onlyLarge) {
        width: 50%;
        bottom: 30px;
    }
    
    &__title {
        display: none;
    }

    &__picture {
        height: 100%;
    }
}

#map {
    width: 100%;
    height: 50vh;
    background-color: $greenPrimary;
    @media (min-width: $onlyLarge) {
        height: 100vh;
    }
}
