.page-content {
    position: relative;
    display: flex;

    &__main {
        width: 50%;
        position: absolute;
        top: 80px;
        background-color: ghostwhite;
        padding: 20px $pagePadding 20px $pagePadding;
    }

    &__aside {
        width: 50%;
        position: fixed;
        top: 80px;
        bottom: 30px;
        right: 0;
        z-index: -1;
    }
}
