.page-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &__main {
        background-color: $lightSecondary;
        margin-top: $headerHeight;
        padding: 20px $pagePadding 20px $pagePadding;
        width: 100%;
        order: 2;

        @media (min-width: $onlyLarge) {
            width: 50%;
            position: absolute;
            top: $headerHeight;
            margin-top: 0;
        }
    }

    &__aside {
        top: $headerHeight;
        height: 50vh;
        width: 100%;
        order: 1;

        @media (min-width: $onlyLarge) {
            width: 50%;
            height: 100vh;
            bottom: 30px;
            right: 0;
        }
    }
}
