.top-bar {
    height: $headerHeight;
    position: fixed;
    z-index: 100;
    background-color: $greenSecondary;
    width: 100%;
    color: $lightPrimary;
    display: flex;
    padding-left: $pagePadding;
    padding-right: $pagePadding;
    flex-direction: row;

    &__left {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 100%;
    }
}
