@import 'normalize';
@import 'mixins';
@import 'config';
@import 'top-bar';
@import 'main-nav';
@import 'page-logo';
@import 'page-content';
@import 'city-box';
@import 'map-box';
@import 'cities-list';
@import 'content-header';
@import 'main-footer';


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: lightblue;
}

