*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: lightblue;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: ghostwhite;
}

.top-bar {
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: dodgerblue;
    width: 100%;
    color: ghostwhite;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
}

.top-bar__left{
    display: flex;
    align-items: center;
    height: 100%;
}

.top-bar__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.top-bar nav{
}

.top-bar nav li {
    padding-left: 40px;
}

h1{
    font-size: 2rem;
}

h2 {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

h3 {
    padding-bottom: 10px;
    font-weight: 400;
}

.cities-list>p {
    padding-bottom: 20px;
}

.main-nav li, footer li {
    display: inline;
}

.main-content {
    position: relative;
}

.cities-list {
    background-color: ghostwhite;
    padding: 20px 40px 20px 40px;
}

.cities-list {
    width: 50%;
    position: absolute;
    top: 80px;
}

.main-content li {
    border-top: 1px solid lightblue;
    font-weight: 300;
    padding: 20px;
}

.map-container {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 80;
    right: 0;
    z-index: -1;
}

.map-container img{
    height:100%;
}

footer {
    background-color: lightblue;
    font-size: 0.8rem;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer li {
    display: inline-block;
    padding-left: 30px;
    z-index: 99;
        top: 50%;
    transform: translateY(-50%);
    padding-left: 40px;

}
